<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <script src="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <link href="https://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" rel="stylesheet">

<style>
  div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 160px;
  height:217px;
 }

 div.gallery:hover {
  border: 1px solid #777;
 }

 div.gallery img {
  width: 100%;
  height: auto;
 }

 div.desc {
  padding: 15px;
  text-align: center;
 }


   .ft {
            position: absolute;
            left: -200px;
            bottom: -300px;
        }
        
        .fsize {
            font-size: 18px;
            font-weight: bold;
        }
        
        .fsize2 {
            font-weight: bold;
        }
        
        .fcolor {
            font-weight: bold;
            color: #05be58;
            font-size: 16px;
        }
        
        .fcolor2 {
            font-weight: bold;
            color: #3541f1;
            font-size: 15px;
        }
    
</style>
</head>
<body>
       <h2><center>Our Services</center></h2>
  <div class="gallery">
  <a target="_blank" href="/schedule/addOrEdit">
    <img src="/images/tmanage.gif" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Mange Time</div>
</div>

<div class="gallery">
  <a target="_blank" href="/schedule/list">
    <img src="/images/tschedule.gif" alt="Forest" width="600" height="420">
  </a>
  <div class="desc">View Schedule</div>
</div>

<div class="gallery">
  <a target="_blank" href="/schedule/gchart">
    <img src="/images/gchart.gif" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Gun Chart</div>
</div>

<div class="gallery">
  <a target="_blank" href="/schedule/voice">
    <img src="/images/voice.gif" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Voice Search</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://github.com/Randika006/Full-Stack-Development/tree/development">
    <img src="/images/github.gif" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">GitHub</div>
</div>

<div class="gallery">
  <a target="_blank" href="http://localhost:8080/">
    <img src="/images/jenkins.gif" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Jenkins Dashboard</div>
</div>



   <!-- Footer -->

    <footer class="text-center text-lg-start bg-light text-muted ft">

        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <p class="fcolor">Time Mangement</h6>
                        </h6>
                        <p class="fcolor2">
                            This system manage your time schedule.Then system help to arange your daily works
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 fcolor">
                            Services
                        </h6>
                        <p>
                            <a href="/schedule/list" class="text-reset">Schedule</a>
                        </p>
                        <p>
                            <a href="/schedule/myser" class="text-reset">Services</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 fcolor">
                            About
                        </h6>
                        <p>
                            <a href="/schedule/gchart" class="text-reset">Gunchart</a>
                        </p>
                        <p>
                            <a href="/schedule/voice" class="text-reset">Voice Search</a>
                        </p>
                        <p>
                            <a href="/schedule/addOrEdit" class="text-reset">Time Mange</a>
                        </p>
                        <p>
                            <a href="https://github.com/Randika006/Full-Stack-Development/tree/development" class="text-reset">Version Control</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4 fcolor">Contact</h6>
                        <p class="fcolor2">Gmail:managementtime36@gmail.com</p>
                        <p class="fcolor2">Tel:+94-71 806 22 37</p>
                    </div>
                </div>
            </div>
        </section>
        <br/><br/>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            <p>© Created By:Randika Madumal</p>
        </div>
    </footer>


<!-- Footer -->
  

</body>
</html>